---
import MainLayout from '../../layouts/MainLayout.astro'
import {getCollection} from 'astro:content'; 
import type {CollectionEntry} from "astro:content"

export async function getStaticPaths() {
  const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog'); // getting our data 

  return allBlogArticles.map(entry => ({
    params: {
      //generate the path using slug 
      slug: entry.slug
    },
    props: {entry}
  }))
}

const { entry } = Astro.props
---

<MainLayout>
<h1>{entry.data.title}</h1>
</MainLayout>

